<%- include('partials/header') %>
<main>
    <h1><%= title %></h1>

    <h2><%= categoryDetails.name %></h2>

    <h3>Service Projects</h3>
    <% if (projects && projects.length > 0) { %>
        <ul>
            <% projects.forEach((project) => { %>
                <li>
                    <a href="/project/<%= project.project_id %>"><%= project.title %></a>
                </li>
            <% }) %>
        </ul>
    <% } else { %>
        <p>No service projects are currently associated with this category.</p>
    <% } %>
</main>
<%- include('partials/footer') %>
